/* Write your code here. */
.container {
  background-color: #000000;
  height: 50vh;
  background-size: cover;
}
.heading {
  color: #fff;
  size: 32px;
  font-family: 'Roboto';
  text-align: center;
}
.imageContainer {
  height: 30vh;
  width: 80vw;
}
.images {
  height: 70px;
  width: 50px;
}
